.bg-primary {
  background-color: rgba(0,33,50,0) !important;
}

.btn-primary {
  background-color: rgba(8,88,88,0.88);
  border-color: rgba(8,88,88,0.88);
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all ease .5s;
  opacity: 0;
  background-color: rgba(8,88,88,0.88);
}

.nav-link .material-icons {
  vertical-align: middle;
  margin-right: 1px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: rgb(17,132,186);
}

.nav-link:hover, .nav-link:focus {
  color: rgba(8,88,88,0.88);
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: rgb(50,194,255);
    background: transparent;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: rgb(50,194,255);
    background: transparent;
  }
}

.text-uppercase {
  text-transform: none !important;
}

.bg-secondary {
  background-color: #000000 !important;
}

.footer {
  background-color: #000000;
}

.copyright {
  background-color: #000000;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  color: #fff;
}

.text-secondary {
  color: rgb(0,41,61) !important;
}

hr {
  color: white;
}

