.dh-header-non-rectangular-container h1, p {
  color: #ffffff;
  font-weight: bold;
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
}

.row-image-txt h1 {
  color: white;
}

.row-image-txt p {
  color: white;
}

